body {
  width: 100%;
  margin: 0px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #1b1b2d;
  display: flex;
  justify-content: space-between;
}
.navbar .logoDiv {
  width: 300px;
  height: 70px;
}
.navbar .logo {
  width: 300px;
  height: 70px;
  position: absolute;
  top: 11px;
}
.navbar .divNavLinks {
  float: right;
  height: 76px;
  width: 610px;
}
.navbar a:hover {
  color: #5476d1;
}
.navbar a {
  text-decoration: none;
  color: rgb(238, 238, 238);
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 40px;
  font-size: 20px;
  margin-top: 28px;
  font-weight: 300;
}

.constainer {
  width: 100%;
  height: 500px;
}
.constainer .backImage {
  width: 100%;
  height: 900px;
}

.imageOpacity {
  position: absolute;
  top: 80px;
  background-color: black;
  width: 100%;
  height: 900px;
  opacity: 0.9;
}
.imageOpacity .mainTextContainer {
  color: white;
  width: 70rem;
  margin-top: 15rem;
  margin-left: 15rem;
}
.imageOpacity .mainTextContainer .mainText {
  font-size: 68px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0;
  transition: 2s;
}
.imageOpacity .mainTextContainer .paraText {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6C7293;
  line-height: 32px;
}
.imageOpacity .mainTextContainer .connectButton {
  width: 15rem;
  height: 50px;
  background-color: #06206a;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 22px;
  border-radius: 50px;
}
.imageOpacity .mainTextContainer .connectButton:hover {
  cursor: pointer;
  background-color: #10369e;
}

.profile-container {
  width: 100%;
  height: 82rem;
}
.profile-container .short-intro {
  color: white;
  font-size: 58px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 27rem;
  transition: 2s;
}
.profile-container .heroDiv {
  width: 100%;
  height: 70rem;
  display: flex;
  margin-top: 50px;
}
.profile-container .heroDiv .main-photo {
  width: 450px;
  height: 480px;
  position: relative;
  border-radius: 5px;
  top: 32rem;
  left: 20rem;
  transition: 1s;
  animation: slide-up 3s;
}
@keyframes slide-up {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.profile-container .heroDiv .side-text {
  position: relative;
  top: 32rem;
  left: 23rem;
  width: 580px;
  height: 480px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;
  animation: slide-up 3s;
}
@keyframes slide-up {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.profile-container .heroDiv .side-text .college {
  font-size: 38px;
  margin-bottom: 0;
}
.profile-container .heroDiv .side-text .dis {
  font-size: 18px;
  color: #6C7293;
}
.profile-container .heroDiv .side-husal {
  width: 300px;
  height: 195px;
  position: absolute;
  top: 102rem;
  left: 10rem;
  background-color: #191C24;
}
.profile-container .heroDiv .side-husal .year {
  color: #E62E2D;
  font-size: 38px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3rem;
  margin-bottom: 5px;
}
.profile-container .heroDiv .side-husal .final {
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin-top: 0;
}

.section-3 {
  width: 100%;
  height: 42rem;
}
.section-3 .achiv-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 58px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}
.section-3 .containe-card1 {
  width: 85%;
  height: 35rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin: auto;
}
.section-3 .containe-card1 .card1 {
  height: 235px;
  max-width: 350px;
  background-color: rgba(10, 10, 10, 0.977);
  margin: 0px 22px 0px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  text-align: center;
  border-radius: 5px;
}
.section-3 .containe-card1 .card1 .image-box {
  position: relative;
  width: 350px;
  height: 360px;
  top: -10px;
  left: 0px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.section-3 .containe-card1 .card1 .image-box img {
  max-width: 100%;
  height: 252px;
  border-radius: 4px;
  opacity: 0.8;
}
.section-3 .containe-card1 .card1 .contentText {
  position: relative;
  margin-top: -140px;
  padding: 80px 15px;
  text-align: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.section-3 .containe-card1 .card1 .contentText h2 {
  margin-top: 20px;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-3 .containe-card1 .card1 .contentText p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 30px;
}
.section-3 .containe-card1 .card1 .contentText .btn {
  color: white;
  background-color: rgba(36, 36, 36, 0.977);
  text-decoration: none;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}
.section-3 .containe-card1 .card1 .contentText a {
  padding: 10px 20px;
}
.section-3 .containe-card1 .card1:hover {
  height: 500px;
}
.section-3 .containe-card1 .card1:hover .contentText {
  visibility: visible;
  opacity: 1;
  margin-top: -70px;
  transition-delay: 0.3s;
}

.section-2 {
  width: 100%;
  height: 42rem;
  margin-top: 5rem;
}
.section-2 .project-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 58px;
  text-align: center;
  margin-bottom: 5rem;
}
.section-2 .containe-card {
  width: 85%;
  height: 28rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.section-2 .containe-card .card {
  height: 390px;
  width: 290px;
  border-radius: 15px;
  color: white;
  font-size: 42px;
  text-align: center;
}
.section-2 .containe-card .card:hover .card-slide-cover {
  transition: 0.7s;
  left: 1.3rem;
  visibility: visible;
}
.section-2 .containe-card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0.8;
}
.section-2 .containe-card .card-slide-cover {
  height: 390px;
  width: 293px;
  top: 0px;
  left: 16rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2431372549);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}
.section-2 .containe-card .card-slide-cover .slide-heading {
  font-size: 42px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card-slide-cover .slide-para {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card:hover .card-slide-cover1 {
  transition: 0.7s;
  left: 22.4rem;
  visibility: visible;
}
.section-2 .containe-card .card-slide-cover1 {
  height: 390px;
  width: 293px;
  top: 0px;
  left: 36rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2431372549);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}
.section-2 .containe-card .card-slide-cover1 .slide-heading {
  font-size: 42px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card-slide-cover1 .slide-para {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card:hover .card-slide-cover2 {
  transition: 0.7s;
  left: 43.4rem;
  visibility: visible;
}
.section-2 .containe-card .card-slide-cover2 {
  height: 390px;
  width: 293px;
  top: 0px;
  left: 55rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2431372549);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}
.section-2 .containe-card .card-slide-cover2 .slide-heading {
  font-size: 42px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card-slide-cover2 .slide-para {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card:hover .card-slide-cover3 {
  transition: 0.7s;
  left: 64.4rem;
  visibility: visible;
}
.section-2 .containe-card .card-slide-cover3 {
  height: 390px;
  width: 293px;
  top: 0px;
  left: 75rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2431372549);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}
.section-2 .containe-card .card-slide-cover3 .slide-heading {
  font-size: 42px;
  margin-bottom: 0;
  margin-top: 0;
}
.section-2 .containe-card .card-slide-cover3 .slide-para {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer_container {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(10, 10, 10, 0.977);
}
.footer_container .table {
  color: white;
  font-size: 17px;
  position: relative;
  top: 50px;
  left: 220px;
  border: none;
}
.footer_container .table th {
  padding-top: 15px;
  padding-left: 150px;
  text-align: center;
  font-size: 24px;
}
.footer_container .table td {
  padding-top: 15px;
  padding-left: 150px;
  text-align: center;
}
.footer_container .table .link1 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4rem;
  left: 7rem;
  border-radius: 5px;
}
.footer_container .table .link1 .face {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 20px;
}
.footer_container .table .link1:hover {
  background-color: #343537;
  cursor: pointer;
}
.footer_container .table .link2 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4rem;
  left: 10rem;
  border-radius: 5px;
}
.footer_container .table .link2 .insta {
  position: absolute;
  top: 6px;
  left: 8px;
  font-size: 21px;
  color: #bc1a68;
}
.footer_container .table .link2:hover {
  background-color: #343537;
  cursor: pointer;
}
.footer_container .table .link3 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4rem;
  left: 13rem;
  border-radius: 5px;
}
.footer_container .table .link3 .linked {
  position: absolute;
  top: 6px;
  left: 8px;
  font-size: 21px;
  color: #2987d3;
}
.footer_container .table .link3:hover {
  background-color: #343537;
  cursor: pointer;
}
.footer_container .table .link4 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 4rem;
  left: 16rem;
  border-radius: 5px;
}
.footer_container .table .link4 .whats {
  position: absolute;
  top: 6px;
  left: 8px;
  font-size: 21px;
  color: #29d33d;
}
.footer_container .table .link4:hover {
  background-color: #343537;
  cursor: pointer;
}
.footer_container .copyRight {
  color: white;
  position: relative;
  top: 32%;
  left: 0%;
  text-align: center;
  font-size: 18px;
}